* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0D325A;
  height: 500px;
  background-image: url('https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70%;
}

#sezione_header {
  height: 100px;
}

.contenitore {
  width: 90%;
  position: relative;
  left: 5%;
}

.contenitore::after {
  content: '';
  clear:both;
  display: table;
}

.barra-menu {
  float: left;
  height: 100px;
  width: 65%;
}

.logo a {
  line-height: 100px;
  display: inline-block;
}

.logo img {
  position: relative;
  top: 20px;
  margin-right: 50px;
}
.logo {
  float: left;
  height: 100px;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

#menu {
  display: inline-block;
}

.menu li {
  line-height: 100px;
  font-size: 15px;
  color: white;
  float: left;
  text-transform: uppercase;
  margin-left: 10px;
}

.orange:hover {
  color: orange;
  cursor: pointer;
}

.pulsanti {
  float: right;
  width: 35%;
}

#pulsanti {
  line-height: 100px;
  float: left;
  margin-left: 10px;
}

.login {
  background-color: #0D325A;
  color: white;
  border-radius: 5px;
  border-color: white;
  padding: 5px;
}

.struttura {
  background-color: #7BBC00;
  color: white;
  border-radius: 5px;
  border-color: #7BBC00;
  text-transform: uppercase;
  padding: 10px;
}

.jumbo {
  color: white;
  font-size: 40px;
  position: absolute;
  left: 5%;
  top: 30%;
}

.uomini {
  float: right;
}
.uomini:after {
  content: '';
  display: table;
  clear: both;
  }


.titolo {
  height: 150px;
  background-color: lightgrey;
  text-align: center;
  font-size: 20px;
  color: grey;
  padding: 50px;
}

.blocco {
  width: 33.33%;
  float: left;
  padding: 20px;
  text-align: center;
}

h2 {
  color: green;
  margin-top: 50px;
  margin-bottom: 30px;
}

.aiuto {
  position: fixed;
  bottom: 0;
  right: 200px;
  background-color: #7BBC00;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
